html {
  background-color: #F4F5F6;
}

body {
  font-family: Robot, Arial, Helvetica, sans-serif;
}
body .nav-red {
  background-color: #F72311;
  color: white;
  height: 80px;
}
body .nav-red .weather {
  font-size: 0.9rem;
}
body .nav-red .weather img {
  width: 20px;
  height: 20px;
}
body .nav-red .logo .logo-large {
  width: 395px;
  filter: invert(1);
}
body .nav-red .btns button {
  border: none;
  font-size: 0.9rem;
}
body .nav-red .btns .btn-login {
  color: white;
  background-color: #F72311;
}
body .nav-red .btns .btn-subscribe {
  color: black;
  background-color: #FFE400;
  border-radius: 4px;
}

main .navbar {
  border-bottom: 1px solid #D9D9D9;
}
main .navbar .nav-list {
  justify-content: space-between;
  align-items: baseline;
  width: calc(100% - 60px);
}
main .navbar .nav-list .nav-item {
  flex-grow: 1;
  font-size: 0.9rem;
  border-right: 1px solid #D9D9D9;
  text-align: center;
}
main .navbar .nav-list .nav-item a {
  margin: 0;
  color: black !important;
}
main .navbar .nav-list .nav-item a:hover {
  color: #F72311 !important;
}
main .navbar .nav-list input {
  background: 0;
  border: 0;
  width: 80px;
  font-size: 0.9rem;
  color: black !important;
}
main .navbar .nav-list .fa-search {
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
}
main .navbar .nav-list::after {
  flex: 5;
  content: "";
  display: block;
  width: 60px;
  height: 12px;
  background: #F72311;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 0);
}
main h5 {
  font-size: 0.9rem;
  font-weight: bold;
  color: grey;
}
main h4 {
  font-weight: bold;
  font-size: 1rem;
}
main h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
main p {
  font-size: 0.9rem;
  color: grey;
}
main .single-content figure {
  position: relative;
  width: 100%;
}
main .single-content figure img {
  width: 100%;
}
main .single-content figure figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F72311;
  font-weight: bold;
  background-color: rgba(230, 230, 230, 0.9);
}
main .single-content-left figure {
  margin: 0 0.7rem 0.7rem 0;
  float: left;
  width: 72px;
}
main .single-content-left figure img {
  width: 100%;
}
main .top-story > div {
  border-bottom: 1px solid #D9D9D9;
}
main .heroes .single-content-mini, main .culture .single-content-mini {
  flex-basis: 32%;
}
main .heroes .single-content-mini figure, main .culture .single-content-mini figure {
  position: relative;
  width: 100%;
}
main .heroes .single-content-mini figure img, main .culture .single-content-mini figure img {
  width: 100%;
}
main .heroes .single-content-mini figure figcaption, main .culture .single-content-mini figure figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: grey;
  font-weight: bold;
  background-color: rgba(192, 217, 228, 0.9);
  font-size: 0.7rem;
}
main .debate .debate-top {
  border-top: #F92859 solid 4px;
  border-bottom: #D9D9D9 solid 1px;
}
main .debate .debate-top::after {
  position: absolute;
  right: 45%;
  bottom: 39%;
  content: "VS";
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: block;
  text-align: center;
  vertical-align: center;
  line-height: 2rem;
}
main .debate .debate-bottom {
  border-top: #D9D9D9 solid 1px;
  border-bottom: #1D87FB solid 4px;
}
main .debate .profile {
  width: 80px;
}
main .debate span {
  font-size: 0.8rem;
  color: grey;
}
main .debate span span {
  color: black;
}
main .debate h4 {
  font-size: 0.9rem;
}
main .opinions .single-content-opinion {
  border-bottom: 1px solid #D9D9D9;
}
main .opinions .single-content-opinion:last-child {
  border-bottom: none;
}
main .opinions .single-content-opinion .profile {
  width: 80px;
}
main .opinions h4 {
  font-size: 0.9rem;
}
main .opinions span {
  font-size: 0.8rem;
  color: grey;
}

footer .top-footer {
  border-bottom: 1px #D9D9D9 solid;
}
footer .top-footer .logo {
  fill: #F72311;
  width: 250px;
}
footer .top-footer span {
  color: grey;
  font-size: 0.8rem;
}
footer .top-footer .social {
  font-size: 1.3rem;
  color: grey;
}
footer .bottom-footer {
  color: grey;
  font-size: 0.9rem;
}
footer .bottom-footer .editions .language {
  border-right: 1px solid grey;
}
footer .bottom-footer .editions .language:last-child {
  border-right: none;
}
footer .bottom-footer .links .link {
  border-right: solid 1px grey;
}
footer .bottom-footer .links .link:last-child {
  border-right: none;
}

/*# sourceMappingURL=styles.css.map */
